{% extends 'base.html' %}


{% block content %}
<h3 class="text-center mt-5 mb-5">Корзина {% if not cart.product.count %}Пусто{% endif %}</h3>

{% if cart.product.count %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Общая цена</th>
      <th scope="col">Удаление</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart.product.all %}
    <tr>
      <th scope="row">{{ item.content_object.title }}</th>
      <td class="w-25"><img class="image-fluid w-100 h-10" src="{{ item.content_object.image.url }}"></td>
      <td>{{ item.content_object.price }} грн.</td>
      <td>
        <form action="{% url 'change_quantity' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}" method="post">
          {% csrf_token %}
          <input type="number" class="form-control" name="qty" min="1" value="{{ item.quantity }}">
          <br>
          <input type="submit" class="btn btn-dark" value="Изменить кол-во">
        </form>
      </td>
      <td>{{ item.total_price }} грн.</td>

      <td>
        <a href="{% url 'delete_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}"><button class="btn btn-warning">Удалить из корзины</button></a>
      </td>
    </tr>
  {% endfor %}
  <tr>
    <td colspan="2"></td>
    <td>Итого:</td>
    <td>{{ cart.total_products }}</td>
    <td>{{ cart.total_price }} грн.</td>
    <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Перейти к оформлению</button> </a></td>
  </tr>
  </tbody>
</table>
{% endif %}
{% endblock content %}