<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
  <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display }}</td>
    </tr>
  <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
  <tr>
      <td>Батарея</td>
      <td>{{ product.acc_volume }}</td>
    </tr>
  <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram}}</td>
    </tr>
  <tr>
      <td>Наличие слота для карты памяти</td>
      <td>{{ product.sd }}</td>
    </tr>
  <tr>
      <td>Обьем встроенной памяти</td>
      <td>{{ product.sd_volume }}</td>
    </tr>
  <tr>
      <td>Камера</td>
      <td>{{ product.camera }}</td>
    </tr>
  <tr>
      <td>Фронтальная камера</td>
      <td>{{ product.front_camera }}</td>
    </tr>
  </tbody>
</table>

